<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cnf_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>handshake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>req_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sample_1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test_builder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test_cert_store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_init.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_x509.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>verify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>x509.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D41ABDFC1FA56DFF0058FA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41ABE2C1FA5799B0058FA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41ABE761FA59B890058FA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41ABE821FA59BB00058FA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41B28A3202D223600662D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4599BD920585B1F0021C3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FD64DA205C2228006D3383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
