#
# cnf file for making self signed root
#
[ req ]
default_bits 		= 2048
default_keyfile 	= /Users/rob/CA/private/cakey.pem
default_md 			= md5
default_days 		= 365

prompt = no
distinguished_name 	= root_ca_distinguished_name

x509_extensions 	= root_ca_extensions

[ root_ca_distinguished_name ]
commonName 				= BlackwellApps CA
stateOrProvinceName 	= Washington
countryName 			= US
emailAddress 			= ron@blackwellapps.com
organizationName 		= Blackwell Apps Root Certification Authority

[ root_ca_extensions ]
basicConstraints 	= CA:true

